# Variables de entorno para LinkStash Frontend

# API URL (Backend)
VITE_API_URL= url Backend/api
VITE_BACK_URL= url backend
VITE_APP_VERSION=1.0.0

# Supabase Configuration (Auth & Storage)
VITE_SUPABASE_URL= url supabase
VITE_SUPABASE_ANON_KEY=anon key supabase


